/* index */
html, body
{
    height: 100%;
}
/* Apple iPhone 5  */
@media screen and ( max-device-width:640px ) and ( max-device-height:1136px ) {
    .Wrapper
    {
        min-height: 100%;
    }
    footer{
        text-align: center;
        font-size: 28px;
        background-color: #008B8B;
        clear: both; /* 清除浮动元素格式 */
        position: relative;
        margin-top: -40px; /* Footer 高度的负值 */
        height: 40px; /* Footer 高度 */
    }
    .icon-height
    {
        line-height: 39px; /* 图标居中显示，footer高度 减去 1 px */
    }
    .Wrapper .FooterPush
    {
        height: 40px; /* Footer 的高度 */
    }
    .Wrapper .body{
        background-color: #269abc;
    }
    .main-title{
        line-height: 140px;
        text-align: center;
    }
}